body {
  background: #524558;
  margin: 1rem auto;
}
.container {
  max-width: 450px;
  max-height: 100vh;
}
input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(136, 100, 153, 0.199);
  max-width: 400px;
}
.unlist li {
  background: #5d5572;
}
.delete {
  cursor: pointer;
}

.hidden {
  display: none !important;
}
