@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #695858, #1d2e77); /*100% */
  font-family: "Poppins", sans-serif;
  margin: 0rem;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container_00 {
  background-color: whitesmoke;
  width: 600px;
  max-width: 100%;

  overflow: hidden;

  border-radius: 10px;
  box-shadow: 0 0 10px 50px rgba(100, 100, 100, 0.1);
}

.container_01 {
  padding: 4rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  background-color: #8e44ad;
  color: whitesmoke;

  display: block;
  min-width: 100%;

  padding: 1rem;
  border: none;

  font-size: 1rem;
  font-family: inherit;

  cursor: pointer;
}

button:hover {
  background-color: #6e3586;
}

/*button:focus {
  background-color: #441c55;
  outline: none;
} */

h2 {
  margin: 0rem;

  text-align: center;
  padding: 1rem;
}

ul li {
  font-size: 1.1rem;
  margin: 1rem 0;
  font-weight: bold;
}

ul li label {
  cursor: pointer;
}
